<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"is-style-no-margin","layout":{"contentSize":"65em"}} -->
<div class="wp-block-group is-style-no-margin"><!-- wp:group {"style":{"color":{"background":"#e8a600"},"border":{"radius":"7px","style":"solid","width":"2vw","color":"#e8a600"}}} -->
<div class="wp-block-group has-border-color has-background" style="background-color:#e8a600;border-color:#e8a600;border-radius:7px;border-style:solid;border-width:2vw"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"75%"} -->
<div class="wp-block-column" style="flex-basis:75%"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Continuously updated daily</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":3,"query":{"perPage":"16","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":2}} -->
<div class="wp-block-query"><!-- wp:post-template {"className":"site-loop"} -->
<!-- wp:template-part {"slug":"content","tagName":"div"} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers {"fontSize":"large"} /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"添加当查询返回无结果时所要显示的文本或区块。"} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:spacer {"height":"27px"} -->
<div style="height:27px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"border":{"radius":"7px"}},"backgroundColor":"textondark"} -->
<div class="wp-block-group has-textondark-background-color has-background" style="border-radius:7px"><!-- wp:calendar /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"27px"} -->
<div style="height:27px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:group {"frhideOnMobile":true,"frhideOnTablet":true} -->
<div class="wp-block-group fr-mobile-hide fr-tablet-hide"><!-- wp:query {"queryId":3,"query":{"perPage":"13","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[8]}},"displayLayout":{"type":"flex","columns":1}} -->
<div class="wp-block-query"><!-- wp:post-template {"className":"site-loop"} -->
<!-- wp:group {"className":"is-style-no-margin","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-no-margin"><!-- wp:post-featured-image {"isLink":true} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->