<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"contentSize":"65em"}} -->
<div class="wp-block-group"><!-- wp:group {"tagName":"main","style":{"border":{"radius":"7px"},"spacing":{"padding":{"right":"1.7vw","left":"1.7vw"}},"color":{"background":"#e8a600"}},"layout":{"inherit":true}} -->
<main class="wp-block-group has-background" style="background-color:#e8a600;border-radius:7px;padding-right:1.7vw;padding-left:1.7vw"><!-- wp:post-title {"textAlign":"center","level":1} /-->

<!-- wp:post-content {"layout":{"inherit":true}} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->